@model IEnumerable<MaReB.Models.Country>

@{
    ViewData["Title"] = "Exportaciones por países";
}

<partial name="_Libs" model='new List<string> { "chart.min.css", "bootstrap-select", "countriesChart.min.js" }' />

<h2>@ViewData["Title"], Continente, Recurso Bentónico y Variable</h2>

<select id="id" name="id" class="selectpicker form-control" multiple data-max-options="2"
        value="0,t" onchange="$(this).selectpicker('toggle');changeData($(this).val());">
    <optgroup label="Especie" data-max-options="1">
        <option selected="selected" value="0">
            Almeja
        </option>
        <option value="1">
            Erizo
        </option>
        <option value="2">
            Luga
        </option>
    </optgroup>
    <optgroup label="Variable" data-max-options="1">
        <option selected="selected" value="True">
            Toneladas totales
        </option>
        <option value="False">
            Precio FOB por Ton
        </option>
    </optgroup>
</select>

<div id="chartdiv" style="width: 100%; height: 400px;"></div>

@section PreScripts{
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/lang/es_ES.js"></script>
}