@{
    ViewData["Title"] = "MaReB";
}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="vertical-align:middle">
        <table>
            <tr>
                <td valign="middle" style="min-width:60px">
                    <a href="@Url.Action("Contact", "Home", null, null)" target="_blank">
                        <img src="~/images/waves-just-circle.png" alt="MaReB" class="img-responsive" style="max-height:80px;padding-right:16px" />
                    </a>
                </td>
                <td valign="middle">
                    <h1 style="vertical-align:middle">
                        MaReB
                    </h1>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="">
            <a href="//www.conicyt.cl/fondef" target="_blank">
                <img src="~/images/fondef.svg" alt="fondef" class="img-responsive" style="max-height:100px;float:right" />
            </a>
        </div>
    </div>
</div>
<div class="row">
    <h3 style="margin-top:0;text-align:justify">
        Base de Datos para Manejo de Recursos Bentónicos de Chile (MaReB).
    </h3>
    <p style="text-align:justify;font-size:small">
        Herramienta <strong><a target="_blank" href="//www.capia.cl/">CAPIA</a></strong>,
        financiado por <strong><a target="_blank" href="//www.conicyt.cl/fondef">FONDEF</a></strong>.
        Proyecto IT15I10028 "Modelo de manejo integral para la sustentabilidad de las pesquerías bentónicas de la zona sur de Chile: 1.- Pesquería de almeja (Venus antiqua)".
    </p>
    <h3>Objetivo:</h3>
    <p style="text-align:justify;">
        <strong>MaReB</strong>
        Es una plataforma que provee acceso a un Modelo de manejo integral para la sustentabilidad en las pesquerías bentónicas de la Zona Sur Austral de Chile (Región de Los Lagos y de la Región de Aysen), centrado en primer lugar en la pesquería de almeja.
    </p>
</div>
