@{
    ViewData["Title"] = "Contáctenos";
    ViewData["Message"] = "Contáctenos para mayor información o soporte técnico.";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-4">
        <section>
            <p style="height:9vh;vertical-align:bottom;display: table-cell;font-size:24px"><h3>@ViewData["Message"]</h3></p>
            <hr />
            <address>
                <strong>CAPIA</strong> (Centro Acuícola Pesquero de Investigación Aplicada) de la Universidad Santo Tomás, sede Puerto Montt<br />
                <abbr title="Horarios 9:00-18:00 hrs">Direcci&oacute;n:</abbr>
                <a target="_blank" href="https://goo.gl/maps/nmjiypX54682">Egaña 489, Puerto Montt, Chile</a><br />
                <abbr title="Horarios 9:00-18:00 hrs">Tel&eacute;fono:</abbr>
                <a href="tel:+56652630071">+56 65 248 5120</a>
            </address>
            <address>
                <strong>Administración:</strong> <a href="mailto:eduardobustos@santotomas.cl">eduardobustos@santotomas.cl</a><br />
                <strong>Soporte T&eacute;cnico:</strong> <a href="mailto:guillermorodriguezpi@santotomas.cl">guillermorodriguezpi@santotomas.cl</a>
            </address>
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <a href="//www.capia.cl/" target="_blank"><img src="~/images/ico/capia.svg" alt="AmiChile" class="img-fluid" style="padding-bottom:30px;height:20vh" /></a>
            <hr />
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2989.534426181516!2d-72.93064528466054!3d-41.47101215974331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96183a5add96070b%3A0x26b4140e82d35820!2s(CAPIA)+Centro+Acu%C3%ADcola+Pesquero+de+Investigaci%C3%B3n+Aplicada!5e0!3m2!1sen!2scl!4v1539717296383" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>
    </div>
    @*<div class="col-md-4">
        <section>
            <a href="http://www.intemit.cl/" target="_blank">
                <img src="~/images/ico/ust.svg" alt="Intemit" class="img-fluid" style="padding-bottom:30px;height:20vh" />
                <img src="~/images/ico/ust-firma.svg" alt="Intemit" class="img-fluid" style="padding-bottom:30px;height:20vh" />
            </a>
            <hr />
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2989.451532159192!2d-72.93102068466054!3d-41.47280965985454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96183a44a4da04ff%3A0x78237353e75c2591!2sUniversidad+Santo+Tom%C3%A1s!5e0!3m2!1sen!2scl!4v1539717664383" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>
    </div>*@
</div>